<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_4._1.Properties.Settings.ITCompanyConnectionString"
            connectionString="Data Source=MAIBENBEN-PC\SQLEXPRESS;Initial Catalog=ITCompany;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>